<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/me.jpg">


        <div>
            <div className="jumbotron jumbotron-fluid jumbotron1">
  <div className="container">
  <h1>Our-Services</h1>
    <p>This is a weather-App which is used to know weather of any city.This is the simplest way to search for weather of any location. 
       Only You have to do is Just Enter your desired location and You will get to know the weather of your city. </p>
  </div>
</div>
        </div>

    </div>
    
    {{>footer}}
</body>

</html>
