<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{helpText}}</p>
        
         <h2>Click on the link given below and send your queries to us..</h2>
        <p><a href="mailto:kamanraj2812@gmail.com">Send email</a></p>
        
    </div>
    
    {{>footer}}
</body>

</html>
